/* Text */
h1, h2, h3, h4, h5, h6 {
    font-family: $font-h;
}

h1 {
    font-size: $font-h1-size;
}

h2 {
    font-size: $font-h2-size;
}

h3 {
    font-size: $font-h3-size;
}

h4 {
    font-size: $font-h4-size;
}

h5 {
    font-size: $font-h5-size;
}

h6 {
    font-size: $font-h6-size;
}

/* Body */
body {
    font-family: $font-primary;
    font-size: $font-primary-size;
}

#wrapper {
    margin-top: 50px;
}

/* Navbar Styles */
.title-bar, .top-bar {
    font-weight: bold;
    background:  $dark-green;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.top-bar {
    @include breakpoint(medium up) {
        @include pressed-top;
    }
    @include breakpoint(small down) {
        top: 25px;
        left: 0;
    }
    ul {
        background-color: $dark-green;
    }
}

.title-bar {
    @include pressed-top;
}

.title-bar-title {
    font-family: $font-primary;
}

.menu-item {
    background: $dark-green;
    a {
        @include menu-link;
    }
}

.dropdown > li {
    background: $dark-green;
    a {
        @include menu-link;
    }
}

.is-dropdown-submenu {
    min-width: 100px;
}

.is-dropdown-submenu-parent.is-down-arrow a::after {
    border-color: $white transparent transparent;
}

.vertical {
    border: none;
    li {
        background: $dark-green;
    }
}

/* Shared */
.dashboard-link, .post-link, .job-link {
    @include regular-link;
}

.page-arrow {
    @include breakpoint(medium up) {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    cursor: pointer;
}

.unavailable {
    color: $dark-gray;
    cursor: default;
}

.title {
    color: $dark-purple;
}

.tag {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: $dark-gray;
}

.button {
    background-color: $dark-purple;
    &:hover {
        background-color: $dark-purple;
        color: $gray;
    }
}

.button.success {
    background-color: $dark-green;
    &:hover {
        background-color: $dark-green;
        color: $gray;
    }
}

.label {
    background-color: $dark-purple;
}

.pagination .current {
    background: $dark-purple;
}

/* Home */
.item img {
    width: 100%;
    @include breakpoint(large up) {
        height: calc(100vh - 100px);
    }
}

/* Dashboard */
.dashboard-table {
    tbody tr {
        background-color: $white;
        @include light-gray-border;
    }
}

.home-login-buttons {
    padding-top: 20px;
}

/* Posts List */
.posts-grid-item {
    padding-bottom: 20px;
}

.posts-list {
    list-style-type: none;
    margin: 0;
}

.post-list-heading {
    color: $dark-green;
}

/* Posts Individual */
.comment-column {
    @include light-gray-border;
}

/* Jobs */
.job-content {
    background: $dark-green;
    border-style: solid;
    border-width: 1px;
}

.job-content h1{
    background: $dark-purple;
    color: white;
    padding: 0px 20px;
}

.job-content p {
    padding: 0px 20px;
}

.job-info {
    padding: 0px 20px;
    font-weight: bold;
}

#share, #apply {
    background: $dark-purple;
}

.red {
    color: $red;
}

.error {
    color: $red;
}