<div class="row">
    <div class="columns small-12 medium-10 medium-offset-1 large-8 large-offset-2">
        <h1 class="text-center title">About L.A.P.v2</h1>
        <p>L.A.P.v2 stands for Life After Prison version 2.0. We specifically serve newly released ex-convicts in the hopes of helping them better reintegrate into society. It was inspired by a summer hackathon project done by one of our developers. The predecessor featured only a coagulation of resources and SMS notifications for certain tips and resources, disseminated daily.</p>
        <p>One of the core aspects of this community is the ability to be able to share your experiences with others. Thus, one of the main core features of L.A.P.v2 is an advice column.</p>
        <p>Another main core feature of L.A.P.v2 is a job board. We know that it's challenging to find work with a criminal background, so we feature a community-curated list of jobs that allow employees with criminal backgrounds to apply.</p>
        <p>Due to the potentially sensitive nature of content, it is required that you have a user account in order to view these articles. Please <a href="#/login" class="post-link">log in</a> or <a href="#/register" class="post-link">register</a> as a new user.</p>
    </div>
</div>