<div class="list" ng-controller="AddPostController">
    <div class="row text-center">
        <h2 class="title">Create New Post</h2>
    </div>
    <div class="row">
        <div class="small-12 columns" ng-hide="fatalError">
            <label>
                <span ng-class="{'error': showTitleError}"> Title: </span><span class="error">*</span>
                <input type="text" ng-model="newTitle" placeholder="Enter a title for your new post" />
            </label>
        </div>
    </div>
    <div class="row" ng-hide="fatalError">
        <div class="small-12 columns">
            <label>
                <span ng-class="{'error': showContentError}"> Content: </span><span class="error">*</span>
                <textarea ng-model="newContent" rows="5" cols="50"></textarea>
            </label>
        </div>
    </div>
    <div class="row" ng-hide="fatalError">
        <div class="small-12 columns">
            <label>
                Tags:
                <input type="text" ng-model="newTag" placeholder="Type a tag and press Enter" ng-keyup="$event.keyCode == 13 && addTag()" />
            </label>
            <p><span class="info label" ng-repeat="tag in newTags">{{tag}}<a ng-click="removeTag($index)"><i class="fa fa-times"></i></a></span></p>
        </div>
    </div>
    <div class="row" ng-hide="fatalError">
        <div class="small-12 columns">
            <button class="button success" ng-click="addPost()">Submit</button>
        </div>
    </div>
    <div class="row" ng-show="showResultError || fatalError || showTitleError || showAuthorError || showContentError || tagError || tagError.length > 0">
        <div class="columns small-12">
            <div class="callout alert">
                <p ng-if="showResultError">{{resultErrorMessage}}</p>
                <p ng-if="fatalError">{{fatalErrorMessage}}</p>
                <p ng-if="showTitleError">Title is required.</p>
                <p ng-if="showAuthorError">Something went wrong fetching your user credentials.</p>
                <p ng-if="showContentError">Content is required.</p>
                <p ng-if="tagError || tagError.length > 0">{{tagError}}</p>
            </div>
        </div>
    </div>
</div>
