<div ng-init="initialize()">
    <h1 class="text-center title">{{post.title}}</h1>
    <div class="row">
        <div class="columns small-12 medium-4">
            <h3>By: {{post.author}} <small>{{post.timestamp | date: 'MMMM d, yyyy'}}</small></h3>
        </div>
        <div ng-show="post.user == user._id" class="columns small-12 medium-4">
            <h6>Author Tools</h6>
            <a href="#/edit-post/{{post._id}}"><button class="button success">Edit</button></a>
            <button ng-click="deletePost()" class="button alert">Delete</button>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12">
            <p ng-repeat="content in contents">{{content}}</p>
        </div>
        <div class="columns small-12">
            <p>Tags: <span class="tag info label" ng-repeat="tag in post.tags">{{tag}}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12">
            <h4>Comments</h4>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12" ng-repeat="comment in post.comments">
            <div class="row">
                <div class="columns small-12 medium-8">
                    <h6 ng-show="!edit[$index]">{{comment.username}} <small>{{comment.timestamp | date: 'MMMM d, yyyy'}}</small></h6>
                    <p ng-show="!edit[$index]">{{comment.text}}</p>
                </div>
                <div class="columns small-12 medium-4">
                    <button class="button success" ng-show="!edit[$index] && comment.userid == user._id" ng-click="edit[$index] = true">Edit</button>
                    <button class="button alert" ng-show="comment.userid == user._id && !edit[$index]" ng-click="deleteComment(comment)">Delete</button>
                </div>
            </div>
            <form ng-show="edit[$index]" ng-submit="updateComment(comment, $index)">
                <label>Edit Comment:
                    <textarea ng-model="comment.text"></textarea>
                    <input type="submit" class="button" value="Submit"></input>
                    <button type="button" class="button" ng-click="getPost(post._id)">Cancel</button>
                </label>
                <div class="callout alert" ng-show="commentError[$index] || commentError[$index].length > 0">{{commentError[$index]}}</div>
            </form>
        </div>
    </div>
    <form ng-submit="addComment()">
        <div class="row">
            <div class="columns small-12">
                <h6>Leave a Comment</h6>
                <textarea placeholder="Comment text" ng-model="newComment" rows="3"></textarea>
                <input type="submit" class="button" value="Submit"></button>
            </div>
            <div class="columns small-12">
                <div class="callout alert" ng-show="error || error.length > 0">{{error}}</div>
            </div>
        </div>
    </form>
</div>