<div ng-init="initialize()">
    <div class="row">
        <div class="columns small-12">
            <h1 class="title">Hello {{user.name}}!</h1>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 medium-8 large-9">
            <h3 class="title">Recent Posts</h3>
            <table class="dashboard-table">
                <tbody>
                    <tr ng-repeat="post in mostRecentPosts">
                        <td>
                            <h5><a href="#/posts/{{post._id}}" class="post-link">{{post.title}}</a> <small>{{post.timestamp | date: 'MMMM d, yyyy'}}</small></h5>
                            <p>{{post.content}}</p>
                            <p>Tags: <span ng-repeat="tag in post.tags" ng-if="$index < 3" class="info label tag">{{tag}}</span><span ng-if="post.tags.length == 0" class="label default">none</span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h6 class="text-center"><a class="dashboard-link" href="#/posts">View More Posts</a></h6>
        </div>
        <div class="columns small-12 medium-4 large-3">
            <h3 class="title">Recent Jobs</h3>
            <table class="dashboard-table">
                <tbody>
                    <tr ng-repeat="job in mostRecentJobs">
                        <td>
                            <h6><a class="dashboard-link" href="#/jobs/{{job._id}}">{{job.title}}</a></h6>
                            <p><b>{{job.company}}</b> <small>{{job.city}}, {{job.state}}</small></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="text-center"><a class="dashboard-link" href="#/jobs">View More Jobs</a></p>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 medium-8 large-9">
            <h3 class="title">Your Posts</h3>
            <table class="dashboard-table">
                <tbody>
                    <tr ng-repeat="post in myPosts">
                        <td>
                            <h5><a href="#/posts/{{post._id}}" class="post-link">{{post.title}}</a> <small>{{post.timestamp | date: 'MMMM d, yyyy'}}</small></h5>
                            <p>{{post.content}}</p>
                            <p>Comments: {{post.comments.length}}</p>
                        </td>
                        <td>
                            <a href="#/edit-post/{{post._id}}"><button class="button success">Edit</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="columns small-12 medium-4 large-3"></div>
    </div>
</div>