<div class="row">
    <h1 class="text-center title">Login</h1>
    <div ng-show="error" class="callout alert">{{errorMessage}}</div>
    <form ng-submit="login()">
        <div class="columns small-12">
            <label>Username</label>
            <input type="text" name="username" ng-model="loginForm.username" required>
        </div>
        <div class="columns small-12">
            <label>Password</label>
            <input type="password" name="password" ng-model="loginForm.password" required>
        </div>
        <div class="columns small-12">
            <button type="submit" class="success button" ng-disabled="disabled">Login</button>
        </div>
    </form>
</div>