<div class="row">
    <div class="small-12 columns">
        <h2 class="title text-center">Create New Job Listing</h2>
    </div>
    <div class="small-12 columns">
        <label><span>Job Title</span> <span class="error">*</span></label>
        <input type="text" ng-model="title" placeholder="Enter the job title">
    </div>
    <div class="small-12 columns">
        <label><span>Company</span> <span class="error">*</span></label>
        <input type="text" ng-model="company" placeholder="What company is this job under?">
    </div>
    <div class="small-12 medium-8 columns">
        <label><span>City</span> <span class="error">*</span></label>
        <input type="text" ng-model="city" placeholder="City of the job">
    </div>
    <div class="small-12 medium-4 columns">
        <label><span>State</span> <span class="error">*</span></label>
        <select ng-options="st.name for st in states"
        ng-model="state"></select>
    </div>
    <div class="small-12 medium-8 columns">
        <label><span>Application Link</span></label>
        <input type="text" ng-model="link" placeholder="Link to job application">
    </div>
    <div class="small-12 medium-4 columns">
        <label><span>Deadline</span></label>
        <datepicker date-format="MM/dd/yyyy">
            <input ng-model="deadline" type="text" placeholder="Apply by ..."/>
        </datepicker>
    </div>
    <div class="small-12 columns">
        <label><span>Description</span></label>
        <input type="text" ng-model="description" placeholder="Write the job description">
    </div>
    <div class="small-12 columns">
        <label>
            Tags:
            <input type="text" ng-model="newTag" placeholder="Type a tag and press Enter" ng-keyup="$event.keyCode == 13 && addTag()" />
        </label>
        <p><span class="info label" ng-repeat="tag in newTags">{{tag}}<a ng-click="removeTag($index)"><i class="fa fa-times"></i></a></span></p>
        <span ng-show="tagError || tagError.length > 0" class="alert label"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{tagError}}</span>
    </div>
    <div class="small-12 columns">
        <button class="button success" ng-click="postJob()">Submit</button>
    </div>
    <div class="small-12 columns">
        <div class="callout alert" ng-show="postError">
            {{postErrorMessage}}
        </div>
    </div>
</div>